<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <title>Hacker News Bot - Authentication</title>
        <style>
            html, body {
                font-family: "Helvetica Neue", Arial, sans-serif;
            }
            .container {
                padding-top: 100px;
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
        </style>
    </head>
    <body class="container">
        <h1><%= message %></h1>
        <center>
            <%= content %>
        </center>
    </body>
</html>
